*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
}
body{
    background: linear-gradient(to right, #e8cbc0, #636fa4);
      
    .container{
        margin: 44px 82px;
      
        .slogan{
            display: flex;
            justify-content: space-between;
            &__name{
                font-weight: bold;
                font-family:'Ubuntu', sans-serif ;
                font-size: 36px;
                line-height: 1.3;
                letter-spacing: 0.01em;
                color: #2D3192;
            }
            &__readmore{
                button{
                    width: 165px;
                    height: 50px;
                    background-color: bisque;
                    border: 4px whitesmoke solid;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: 0.2s;
                    transition-timing-function: linear;
                    i{
                        transition: 0.5s;
                        color: rgb(31, 23, 10);
                    }
                    span{
                        padding-right: 30px;
                        }
                        &:hover{
                         border-color: orange;
                         background: linear-gradient(to right, #d9a7c7, #fffcdc);
                    }
                    &:hover i{
                     transform: translateX(20px);
                     
                }
            }
         }
        }
    
    @mixin format {
        display: flex;
        justify-content: center;
        align-items:center;
        
    }
    
    
        .threeboxes{
            &__boxes{
                height: 570px;
                @include format();
               
                &__box{
                    
                    &:hover{
                        transform: scale(1.05);
                        color: blanchedalmond;
                        background: linear-gradient(to right, #2c3e50, #3498db);
                     }  
                    width: 350px;
                    height: 400px; 
                    margin-left: 2%;
                    margin-right: 2%;         
                    border: 1px solid rgb(54, 49, 49);
                    text-align: center;
                    padding: 10px;
                    position: relative;
                    transition: 0.4s;
                    transition-timing-function: liner;
                    cursor: pointer;
                    
                    span{
                        display: flex;
                        text-align: center;
                        justify-content: space-around;
                        margin-bottom: 120px;
                    }
                }      
                
            }
        }
    }

}

#tech{
    
    .bg-wallpaper{
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 0;
        background-image: url(https://www.simbrella.com/site/assets/files/1049/solutions_bg-1.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-attachment: fixed;
    }
    .container{
        .techpart{
                display: flex;
                align-items: center;
                height: 100vh;
            &__name{
                margin-left: 5%;
                margin-right: 5%;  
                font-size: 53px;
                font-family:'Ubuntu', sans-serif ;
                color: rgba(200, 206, 223, 0.973);
                font-weight: bold;

            }
            &__desc{
                margin-left: 5%;
                margin-right: 5%;  
                padding-left: 105px;
                color: rgba(200, 206, 223, 0.973);
                font-size: 22px;
                z-index: 2;
                font-weight: bold;
                line-height: 3;
            }
        }
    }
}




